/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #2c3e50;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid #ecf0f1;
}

.nav-item {
  margin: 0 1rem;
}

.nav-item a {
  text-decoration: none;
  color: #2c3e50;
  font-size: 1.3rem;
}
/* Navbar */

/* Hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.hero-text {
  flex-basis: 50%;
}

.hero-text h2 {
  color: #6c63ff;
  margin-bottom: 1rem;
}

.hero-text a {
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.7rem 1rem;
  background-color: #6c63ff;
  color: #fff;
}

.hero-text p {
  margin-bottom: 2rem;
}

.hero-image {
  flex-basis: 50%;
}

.hero-image img {
  width: 100%;
}
/* Hero seciton */

/* Program */
.program {
  max-width: 1140px;
  margin: 0 auto;
}

.program h2 {
  color: #6c63ff;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.program-container {
  display: flex;
}

.card {
  margin: 0 1rem;
}

.card p {
  margin-bottom: 2rem;
  text-align: justify;
}

.card a {
  display: block;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.7rem 1rem;
  background-color: #6c63ff;
  color: #fff;
}

/* Program */

/* Footer */
footer {
  margin-top: 5rem;
  text-align: center;
  background-color: #6c63ff;
  color: #fff;
  padding: 2rem 0;
}
/* Footer */
